.image {
    width: 100px;
    height: 100px;
  }

  nav.desc {
    text-indent: 20px;
    background-color: rgb(161, 214, 161);
    border-color: black;
    border-width: 4px;
    border-style: solid;
    padding: 10px;
    margin: 20px;
    text-align: center;
  }

  body{
    text-align: center;
  }
  div.theme{
    background-color: rgb(230, 201, 151);
    border-color: black;
    border-width: 2px;
    border-style: solid;
  }
  p.intro{
    text-align: center;
    font-size: 15px;
    font-style: oblique;
  }
  footer.foot{
    background-color: rgb(230, 201, 151);
    border-color: black;
    border-width: 2px;
    border-style: solid;
    margin: 20px;
  }

  table.createReview {
    margin-left:auto; 
    margin-right:auto;
  }

  table.reviewTable th {
    text-align: center;
    background-color: rgb(116, 164, 236);
    color: black;
  }

  table.reviewTable tr { line-height: 30px; }

  table.reviewTable {
    margin-left:auto; 
    margin-right:auto;
    padding: 100px;
    width: 400px;
    text-align: center;
    background-color: rgb(228, 228, 228);
    border-color: black;
    border-width: 4px;
    border-style: solid;
    margin-top: 10px;
    margin-bottom: 15px;
    box-shadow: 5px 10px gray;
  }

  .returnText {
    margin-left: auto;
    margin-right: auto;
  }